:root {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1rem;
}

main {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.leaflet-container {
  flex-grow: 1;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.sidebar > * {
  flex-shrink: 1;
  border-bottom: 1px solid gray;
  
  height: 100%;
  
  padding: 1rem;
}

.activity.active{
  font-weight: bold;
}

.activity > .activity {
  margin-left: 20px;
}